<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dtn.foody">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foody"
        tools:targetApi="31">

        <activity
            android:name=".View.SlashScreenActivity"
            android:exported="true">

        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDttDx5uSFdMwcQbti7PIr8eFf4E3Xk6pE" >

        </meta-data>

        <activity
            android:name=".View.HomepageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".View.ChiTietQuanAnActivity"
            android:exported="true" />
        <activity android:name=".View.HienThiChiTietQuanAnActivity"
            android:exported="true"/>
    </application>

</manifest>